body {
  font-family: "Times New Roman", Times, serif;
  margin: 12px;
  padding: 5px;
}
header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
}
nav {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}
nav li {
  color: purple;
  text-decoration: none;
  margin: 10px;
}
main {
  background-color: #f2f2f2;
  padding: 20px;
}
section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
